<div class="row">
  <div class="col-md-12">
    <h3>Employee</h3>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-dark">
        <thead>
            <tr>
                <td>Employee ID</td>
                <td>First Name</td>
                <td> Last Name</td>
                <td>Selary</td>
                <td>DOB</td>
                <td>Email</td>
                <td>Action</td>
            </tr>
        </thead>
      </table>
    </div>
  </div>